In [1]:
"It's a string"

"It's a string"

In [2]:
'It "wow" a string'

'It "wow" a string'

In [3]:
print("Hello this string's length is %d charecters." %(44))

Hello this string's length is 44 charecters.

In [4]:
'Hello my name is %s and I am %d years old.'%("Sam", 10)

'Hello my name is Sam and I am 10 years old.'

In [5]:
'Hello my name is %s and I am %d years old.'%(10, "Sam")

TypeError: %d format: a number is required, not str

In [6]:
i = 44
f"Hello this string's length is {i} charecters."

"Hello this string's length is 44 charecters."

In [7]:
i = 44
print(f"Hello this string's length is {i} charecters.")

Hello this string's length is 44 charecters.

In [8]:
s = "Sam" 
i = 10
print(f'Hello my name is {s} and I am {i} years old.')

Hello my name is Sam and I am 10 years old.

In [9]:
t = 'hello this is long string ''python wow this is string'

In [10]:
print(t)

hello this is long string python wow this is string

In [11]:
'hello'[0]

'h'

In [12]:
'hello'[0:3]

'hel'

In [13]:
'hello'[0:2] + 'hello'[2:len('hello')]

'hello'

In [14]:
len('hello')

5

In [15]:
'jello'[0] = 'h'

TypeError: 'str' object does not support item assignment

In [16]:
x = 'hello'

In [17]:
print(x , id(x))

hello 140331418262192

In [18]:
x = 'hello' + 'python'

In [19]:
print(x, id(x))

hellopython 140331418300912

In [20]:
x = 5
print(id(5))

94479886005408

In [21]:
x = x + 2

In [22]:
print(x, id(x))

7 94479886005472

In [23]:
x = 5

In [24]:
y = 5

In [25]:
z = 5

In [26]:
print(id(x) , id(y) , id(z))

94479886005408 94479886005408 94479886005408

In [27]:
x == y

True

In [28]:
x = 123456789

In [29]:
y = 123456789

In [30]:
print(id(x) , id(y))

140331419044944 140331419044336

In [31]:
x == y

True

In [32]:
x is y

False

In [33]:
x = 5

In [34]:
y = x

In [35]:
y == x

True

In [36]:
y is x

True

In [37]:
if 10>4:
    print('yes, it is.')

yes, it is.

In [38]:
 print(5)

5

In [39]:
if 0.0:
    print('if block')
    if 5<10:
        print('second if block')
elif '':
    print('child if of 1St if')
elif False:
    print('second elif')
elif 'wow':
    print('third elif')
else:
    print('else block')

third elif

In [40]:
x = 5 if 20<10 else 'hello'

In [41]:
print(x)

hello

In [42]:
10%2

0

In [43]:
y = 10

In [44]:
while y < 20:
    print(y)
    y = y+1
print('outside of loop')

10
11
12
13
14
15
16
17
18
19
outside of loop

In [45]:
while False:
    print('while is true')
    break
else:
    print('else of while')
print('this is outside loop')

else of while
this is outside loop

In [46]:
for i in 'hello':
    print(i)

h
e
l
l
o

In [47]:
for i in range(5):
    print(i)

0
1
2
3
4

In [48]:
for i in range(5 , 10):
    print(i)

5
6
7
8
9

In [49]:
for i in range(2, 10, 2):
    print(i)

2
4
6
8

In [53]:
x = input('Enter a number')

Enter a number4

In [54]:
print(x)

4

In [55]:
print(type(x))

<class 'str'>

In [56]:
if True:
    print('first if')
    if True:
        print('second if')
        if True:
            print('third')

first if
second if
third