In **Python**, string refers to a collection of characters.

If you are familiar with **C or C++**, then you would know that to declare a string we need to first create an array of '***char***'.

But in Python, anything enclosed inside, '' (single-quotes) or ""(double-quotes) is considerd as a string. For example:--

In [16]:
"It's a string"

"It's a string"

Even we can nest them, just like in this example--

In [17]:
'It "wow" a string'

'It "wow" a string'

We can concatenate two strings in several ways. 

One common way is using ** +  ** operator

In [18]:
s = 'hello this is long string ' + 'python wow this is string'
print(s)

hello this is long string python wow this is string

Also it can be done in the following way....

(But I do not encuorage this one)

In [19]:
t = 'hello this is long string ''python wow this is string'
print(t)

hello this is long string python wow this is string

We can think of a string as a **List** (We will discuss it later), which seems quite like arrays in C, C++, but actually not.

Internally they are very different in definition. But let's not get into all those technicalities for now.

We can access the elementary characters in the string using index..

For example------

In [20]:
'hello'[0]

'h'

We can do slicing of strings based on the indices..

The way it is written is as ---

list_[starting_position : ending_position + 1]

That is, the last index mentioned is not included..as we can see from the example...

One more point... indexing in Python starts from 0 just like in C, C++,  Java etc.

In [21]:
'hello'[0:3]

'hel'

len() is a very important function, which returns the number of items present in the object. 

In case of string, the function returns the length of the string.

In [22]:
'hello'[0:2] + 'hello'[2:len('hello')]

'hello'

In [23]:
len('hello')

5

**Strings** are **immutable** in nature, i.e. in simple terms, we cannot change the contents of a string.

This is a difference from **Lists** which are mutable in nature.

In [24]:
'jello'[0] = 'h'

TypeError: ignored

Python **id()** function returns the “identity” of the object. 

The identity of an object is an integer, which is guaranteed to be unique and constant for this object during its lifetime.

For example---

In [0]:
x = 'hello'

In [26]:
print(x , id(x))

hello 140074449895128

In [0]:
x = 'hello' + 'python'

In [28]:
print(x, id(x))

hellopython 140074449906672

In [29]:
x = 5
print(id(5))

10968928

In [0]:
x = x + 2

In [31]:
print(x, id(x))

7 10968992

Two objects with non-overlapping lifetimes may have the same id() value.

In [0]:
x = 5

In [0]:
y = 5

In [0]:
z = 5

In [35]:
print(id(x) , id(y) , id(z))

10968928 10968928 10968928

From the output, it’s clear that Python cache the integer objects and use them to save memory space. 

But it is only true for integer values >=5 and <=256.

This is because for most inerpreters, the value <=256 are pre-loaded in memory for optimizations.

Also some small strings are also preloaded in memory.

But in general, immutable objects are always given distinct ids, i.e. memory location when initialized.

In [36]:
x == y

True

In [37]:
x is y

True

In [0]:
x = 123456789

In [0]:
y = 123456789

In [40]:
print(id(x) , id(y))

140074450166544 140074450167152

In [41]:
x == y

True

In [42]:
x is y

False

In [0]:
x = 5

In [0]:
y = x

In [45]:
y == x

True

In [46]:
y is x

True

Goto [this](https://stackoverflow.com/questions/38189660/two-variables-in-python-have-same-id-but-not-lists-or-tuples) link for a detailed overview and understanding of this.

#If-else conditionals

In [47]:
if 10>4:
    print('yes, it is.')

yes, it is.

In [48]:
if 0.0:
    print('if block')
    if 5<10:
        print('second if block')
elif '':
    print('child if of 1St if')
elif False:
    print('second elif')
elif 'wow':
    print('third elif')
else:
    print('else block')

third elif

If we have smaller number of cases, we can inline the if-else into 1 line, as we see in the next example...

In [0]:
x = 5 if 20<10 else 'hello'

In [50]:
print(x)

hello

%  operator when applied to two integers, yields the remainder.

One example will make it clear---

In [51]:
print(10%2)

print(5%3)

0
2

#Brief intro to looping

In [0]:
y = 10

Looping is eseential when we have a several piece of code that needs to be executed repeatedly.


The syntax of 'while'loop is--

while condition:
    Body
    Update

The code inside the body part is executed till the condition is evaluated to True.

In [53]:
while y < 20:
    print(y)
    y = y+1
print('outside of loop')

10
11
12
13
14
15
16
17
18
19
outside of loop

We can use else statement as well. with while loop.

This helps us o execute a piece of code if our loop fails.

In [54]:
while False:
    print('while is true')
    break
else:
    print('else of while')
print('this is outside loop')

else of while
this is outside loop

#for-loop

This type of loop ierates over a piece of object like a string or list or iterate over a range of values.

The first example shows how we can iterate over a string.

In [55]:
for i in 'hello':
    print(i)

h
e
l
l
o

This small example helps us to iterate over a range of values..

As the only value mentioned is 5, so the loop will iterate from 0 to 4i.e. from 0 to 5-1.

In [56]:
for i in range(5):
    print(i)

0
1
2
3
4

We can also specify the starting and ending point like in this case.

But remember, the loop terminates on second value - 1.

In [57]:
for i in range(5 , 10):
    print(i)

5
6
7
8
9

the third parameter denotes the step, that is how much the counter or the iterator should update.

In [58]:
for i in range(2, 10, 2):
    print(i)

2
4
6
8

We can take input in runtime using the input() method of Python.

And also, we can print a prompt to the user using the input() method only, as shown below..

In [59]:
x = input('Enter a number')

Enter a number5

In [60]:
print(x)

5

In [61]:
print(type(x))

<class 'str'>

type() function of Python returns the data type of the variable. 
As we can see, the return type of input() is **string** .

So, we need to typecast the value taken input into our desired data-type explicitly as shown below.

In [63]:
x = int(input('Enter a integer'))
print(type(x))


y = float(input("Enter a floating pint number"))
print(type(y))

Enter a integer9
<class 'int'>
Enter a floating pint number5.2
<class 'float'>